<div ng-controller='AssignmentCodeCtrl'>

    <div class='row'>
        <div class='col-md-8'>
            <ul class='nav nav-pills'>
                <li ng-class="{active : selectedPerson.id == person.id}" ng-repeat='person in assignment.people'>
                    <a ng-click="selectPerson($index)">{{person.name}}</a>
                </li>
            </ul>
        </div>
        <div class='col-md-4'>
            <ul class='nav nav-pills'>
                <li ng-class="{active : selectedFile.id == file.id}" ng-repeat='file in assignment.files'>
                    <a ng-click="selectFile($index)">{{file.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <div class='problem-nav'>
                <div ng-class='{container: isScrolled()}'>

                    <ul class='nav nav-pills'>
                        <li ng-class="{active : selectedProblem.id == problem.id}" ng-repeat='problem in selectedFile.problems'><a ng-click='selectProblem($index)'>{{problem.name}}</a>
                        </li>
                        <li><a ng-click='scrollToTop()'><i class='icon-arrow-up'></i> Top</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-8'>
            <pre id='code-view' ng-controller='FileCtrl'>{{file.contents}}</pre>
        </div>
        <div class='col-md-4'>
            <div class='assessment-slider' ng-controller='AssessmentCtrl'>
                <h4 ng-show='!isSelected'>Chose a problem...</h4>
                <div class='assessment' ng-show='isSelected'>

                    <tabset>
                        <tab>
                            <tab-heading>
                                <i class="icon-file"></i> General
                            </tab-heading>
                            <form class='form-horizontal' role='form'>
                                <div class='form-group'>
                                    <label for='assessmentQuality' class='control-label col-md-4'>Quality</label>
                                    <div class='col-md-8'>
                                        <div class="btn-group">
                                            <button ng-repeat='opt in qualityOptions' type="button" class="btn btn-primary" ng-model="selectedAssessment.quality" btn-radio="opt">{{opt}}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class='form-group'>
                                    <label for='assessmentTests' class='control-label col-md-4'>Tests</label>
                                    <div class='col-md-8'>
                                        <div class="btn-group">
                                            <button ng-repeat='opt in testingOptions' type="button" class="btn btn-primary" ng-model="selectedAssessment.testing" btn-radio="opt">{{opt}}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class='form-group'>
                                    <label for='assessmentComments' class='control-label col-md-4'>Comments</label>
                                    <div class='col-md-8'>
                                        <textarea rows='3' class='form-control' name='assessmentComments' placeholder='Comments...' ng-model='selectedAssessment.comments'>
                                        </textarea>
                                    </div>
                                </div>
                            </form>
                        </tab>
                        <tab>
                            <tab-heading>
                                <i class="icon-comments"></i> Issues
                            </tab-heading>
                            <div ng-controller='IssuesCtrl'>
                                <div class='issues'>
                                    <div class='issue' ng-repeat='issue in selectedAssessment.issues' ng-click='selectIssue($index)'>
                                        {{ issue.name }} ({{issue.severity}}): {{ issue.description}}
                                    </div>
                                </div>
                                <form class='form-horizontal' role='form'>
                                    <input type='hidden' ng-model='issue.index' />
                                    <div class='form-group'>
                                        <label for='issueName' class='control-label col-md-4'>Issue</label>
                                        <div class='col-md-8'>
                                            <input type='text' class='form-control' name='issueName' placeholder='Issue name...' ng-model='issue.name' typeahead="template.name for template in assignment.issueTemplates | filter:$viewValue" />
                                        </div>
                                    </div>
                                    <div class='form-group'>
                                        <label for='issueDescription' class='control-label col-md-4'>Description</label>
                                        <div class='col-md-8'>
                                            <textarea rows='3' class='form-control' name='issueDescription' placeholder='Description...' ng-model='issue.description'>
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class='form-group'>
                                        <label for='issueSeverity' class='control-label col-md-4'>Severity</label>
                                        <div class='col-md-8'>
                                            <div class="btn-group">
                                                <button ng-repeat='opt in severityOptions' type="button" class="btn btn-primary btn-sm" ng-model="issue.severity" btn-radio="opt">{{opt}}</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='form-group'>
                                        <div class='col-md-4'></div>
                                        <div class='col-md-8'>
                                            <button class='btn btn-success' ng-click='addIssue()' ng-show='issue.index == -1'>Add</button>
                                            <button class='btn btn-info' ng-click='newIssue()' ng-show='issue.index != -1'>New</button>
                                            <button class='btn btn-danger' ng-click='deleteIssue()' ng-show='issue.index != -1'>Remove</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </tab>
                    </tabset>

                </div>
            </div>
        </div>
    </div>

</div>
